/* The provided CSS code is styling a full-body slider card component. */

.full-body-slider-card{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: white;
}

/* The CSS code you provided is defining styles for various classes and elements. */
.full-text-rext-qualif{
  text-align: center;
}

/* The CSS code you provided is defining styles for the `.text-OUR-DOCTORS` class. */

.text-OUR-DOCTORS{
  color: #18c4dc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 8px;

 margin-bottom: -3px;
}

/* The CSS code you provided is defining styles for the `.text-Qualified-Healthcare` class. */


.text-Qualified-Healthcare{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  color: #092f48;
  margin-bottom: -30px;
}
/* ----------- SLIDER ------------ */
.swiper{
  width: 100%;
}

/* The `.swiper-wrapper` CSS code is defining styles for an element with the class "swiper-wrapper". It
sets the width of the element to 100% of its parent container, the height to 35em, and aligns the
items within the element to the center using the `align-items: center;` property. Additionally, it
sets the display property to flex, which allows the child elements to be displayed in a row. */
.swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}


/* The CSS code you provided is styling the `.card` class. */

.card{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}



/* The `.card__image` CSS code is defining styles for an element with the class "card__image". It sets
the width and height of the element to 10em, giving it a circular shape with a border-radius of 50%.
It also adds a border of 5px solid #18c4dc (a shade of blue) and adds padding of 3px. Finally, it
adds a margin-bottom of 2em to create some spacing between this element and other elements. */
.card__image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid  #18c4dc;
  padding: 3px;
  margin-bottom: 2em;
}

/* The CSS code `.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}` is styling an image element inside an element with the class "card__image". */
.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* The CSS code `.card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}` is defining styles for an element with the class "card__content". */
.card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* The CSS code `.card__title{ font-size: 1.5rem; font-weight: 500; position: relative; top: .2em; }`
is defining styles for an element with the class "card__title". */
.card__title{
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: .2em;
}

/* The CSS code `.card__name{ color:  #18c4dc; }` is setting the color of the text inside an element
with the class "card__name" to #18c4dc, which is a shade of blue. */
.card__name{
  color:  #18c4dc;
}

/* The `.card__text` CSS code is defining styles for an element with the class "card__text". */
.card__text{
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

/* The `.card__btn` CSS code is defining styles for a button element with the class "card__btn". */
.card__btn{
  background-color:  #18c4dc;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: .5em;
  cursor: pointer;}


  .card__btn-2{
    background-color:  #18c4dc;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
    width: 100%;
    text-align: center;
    
  }