
.resize-price {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
   
}

.pricing-navigation {
    min-height: 10vh; /* Further decreased height */
    display: grid;
    place-items: center;
    margin-top: -130px;
}
.full-popular-links a{
    text-decoration: none;
    color: #fff;
}
.full-popular-links a:hover{
    color: #007bff;
}

.conatiner-slide {
    height: 800px; /* Further increased height */
    margin: auto;
    position: relative;
    width: 98%; /* Further increased width */
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-elements {
    display: flex;
    width: calc(350px * 18); /* Further increased width */
    animation: scroll1 25s linear infinite; 
    /* Increased animation duration */
 
}

.slide-elements:hover {
    animation-play-state: paused;
}

@keyframes scroll1 {
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(calc(-350px * 9)); /* Further increased width */
    }
    100% {
        transform: translateX(0);
    }
}

.slide-img {
    height: 350px; /* Further increased height */
    width: 350px; /* Further increased width */
    display: flex;
    align-items: center;
    padding: 25px; /* Further increased padding */
    perspective: 150px; /* Further adjusted perspective */
    flex-direction: column;
}

.text-container {
    text-align: center;
    margin-top: 20px; /* Further increased margin */
}

.text-line {
    font-size: 30px;
    margin: 10px 0; /* Further increased margin */
}

.text-line-2 {
    font-size: 30px;
    color: #18c4dc;
    margin: 10px 0; /* Further increased margin */
}
.submit-button2{
    margin-top: 10px;
    width: 200px; /* Set width */
    height: auto; /* Set height */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px; /* Set font size */
    padding: 0; /* Reset padding */
    box-sizing: content-box;
  
}

.slide-img img {
    transition: transform 1s;
}

.slide-img img:hover {
    transform: translateZ(40px); /* Further increased translateZ value */
}

.heading-pricising{
    text-align: center;
    margin-bottom: -300px;
    color: #092f48;

}


.heading-pricising-4{
    text-align: center;
    margin-top: 80px;
    margin-bottom: -80px;
    text-decoration: underline 4px	#999999;
    text-underline-offset: 10px ;
    color: #18c4dc;
}

