<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Chikitsalaya:Your Personal Hospital At Home!!!</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/chat-bot-css.css">
    <!-- <link rel="stylesheet" href="style-bottomnav.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <!-- <link rel="stylesheet" href="style-appointment.css" /> -->
    <!-- <link rel="stylesheet" href="assets/stylesheets/main.css" /> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/> 
    <!-- <link rel="stylesheet" href="medical-prising.css"> -->
    <!-- <link rel="stylesheet" href="card-slider.css"> -->
    <!-- <link rel="stylesheet" href="top-button.css"> -->
   <link rel="stylesheet" href="/static/css/style.css">
   <link rel="stylesheet" href="/static/css/style-bottomnav.css">
   <link rel="stylesheet" href="/static/css/style-appointment.css">
   <link rel="stylesheet" href="/static/css/medical-prising.css">
   <link rel="stylesheet" href="/static/css/card-slider.css">
   <link rel="stylesheet" href="/static/css/top-button.css">
    <style>
       /* Add CSS styles for the success message box */
       .success-box {
            display: none;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #4CAF50;
            background-color: #DFF2BF;
            color: #4F8A10;
            width: 500px;
            /* margin-left:60px; */
        }
    </style>
  </head>
  <body>
    <div class="socialtopnav">
      <a href="tel: +0992002020" class="call2-outline">Call us: +09920 02020</a>
      
      <p class="call-outline" >|</p>
      <a href="mailto:e-chikitsalaya808@gov.in.ac" class="mail-outline">Mail Us: e-chikitsalaya808@gov.in.ac</a>

      <a href="https://www.twitter.com" rel="noopener" target="_blank" title="twitter" class="twitter" >
        <ion-icon name="logo-twitter"></ion-icon
      ></a>
      <a href="https://www.facebook.com" rel="noopener" target="_blank" title="Facebook" class="face"
        ><ion-icon name="logo-facebook"></ion-icon
      ></a>
      <a href="https://www.instagram.com" rel="noopener" target="_blank" title="Instagram" class="insta">
        <ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a href="https://www.linkedin.com" target="_blank" rel="noopener" title="linkedin" class="linkedin" 
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>

      <!-- about service pricing pages contact -->
    </div>
    <hr size="1" width="100%" color="grey" />
    <div class="topnav">
      <img
        src="/static/images/E-Chikitsalya (1).jpg"
        alt="Icon Image" id="img-icon-top-nav"
      />
      <a href="#get-in-touch-id">contact</a>
      <a href="#full-text-rext-qualif-id">our Doctors</a>
      <a href="#heading-pricising-4">pricing</a>
      <a href="#servies-go">services</a>
      <a href="#about-letsgo">about</a>
      <a class="active" href="#img-icon-top-nav">Home</a>
      

      <!-- about service pricing pages contact -->
    </div>

    <div class="background-container">
      <!-- Overlay text container -->
      <div class="overlay-text3" id="overlay-text3-id">
       Welcome to E-chikitsalaya</u>
      </div>
      <div class="overlay-text">Best Healthcare</div>
      <div class="overlay-text2">Solution in Your City</div>
      <div class="rectangle">
        <div class="text-find-doc"><a href="#full-text-rext-qualif-id">Find Doctor</a></div>
      </div>
      <div class="rectangle2">
        <div class="appointment"> <a href="#Appointment320"> Appointment</a></div>
      </div>
    </div>
<section id="docSurgery">
  
  <div class="DocImageSurgery">
     <div class="image-containerDocImag">
      <img class="imagedocSur"src="/static/images/about.jpg" alt="Doctors Performing Surgery">
  
  </div>  <center><div class="text-containeraboutusdocsur"><p class="AboutusDocText" id="about-letsgo">About us</p>
  <p class="textDocBest">Best Medical Care For <br>Yourself and Your Family</p>
  <p class="textDocTop">You can seek consultations with leading healthcare  <br>professionals for any health concern by accessing <br> our online platform.</p>
  <p class="textDocSur">Comprehensive online consultations facilitated by <br> verified doctors across various specialties are readily available.</p>
  </div>

  <div class="circle">
    <div class="Qualified">
      <i class="fa fa-user-md" style="font-size:40px; color: rgb(0, 173, 253); margin-bottom: 12px;"></i>
      <span> Qualified <br><div class="cirlcrQualifiedDocID">Doctor</div></span>
    </div>
    <div class="Emergency">
      <i class="fas fa-procedures" style="font-size:40px; color: rgb(0, 173, 253); margin-bottom: 12px;"></i>
      <span>Emergency<div class="cirlcrQualifiedDocID">Services</div></span>
   </div>
    <div class="Accurate"><i class="fas fa-microscope" style="font-size:40px; color: rgb(0, 173, 253); margin-bottom: 12px;"></i>
      <span>Accurate<div class="cirlcrQualifiedDocID">Testing</div></span>
   </div>
    <div class="Free"><i class="fa-solid fa-truck-medical fa-fade" style="font-size:40px; color: rgb(0, 173, 253); margin-bottom: 12px;"></i>
      <span>Free<div class="cirlcrQualifiedDocID">Ambulance</div></span>
  </div>
  

  </div></div>
</section><div color="check">
 
  <section class="sectionmid3" id="servies-go"><center><p class="midsectionsection">Services </p><p class="midsectionExcellence">Excellent Medical <br> Services
  </center>
  </div></section>

  <section class="section12">
    <div class="container78">
      <div class="square23">
        <div class="oval34"></div>
        <i class="fa-solid fa-user-doctor icon-on-oval"></i>
   
        <p class="para56"> <span> Emergency </span> </p><div class="cirlcrQualifiedDocID1">Care <br> </div>
        <p class="emergency-section-cont">"24/7 compassionate emergency <br> care for community well-being."</p>
        
        
       
      </div>
  
      <div class="square23">
        <div class="oval34"></div>
        <i class="fa-solid fa-bed-pulse icon-on-oval"></i>
       
  
        <p class="para56"> <span> Operation</span> </p><div class="cirlcrQualifiedDocID1">& Surgery <br> </div>
        <p class="emergency-section-cont"> "24/7 skilled surgery  <br> optimal health outcomes."</p>
      </div>
  
    <div class="square23">
        <div class="oval34"></div>
      <i class="fa-solid fa-stethoscope icon-on-oval"></i>
        
        <p class="para56"> <span> Accurate </span> </p><div class="cirlcrQualifiedDocID1">Testing <br> </div>
        <p class="emergency-section-cont">"Nature-based health assessments <br>for comprehensive outdoor checkups."</p>
      </div>
    </div>
  
    <div class="container89">
      <div class="square23">
        <div class="oval34"></div>
      <i class="fa-solid fa-truck-medical icon-on-oval"></i>
       
        <p class="para56"> <span>Ambulance </span> </p><div class="cirlcrQualifiedDocID1"> Service<br> </div>
        <p class="emergency-section-cont">
  "Swift ambulance for reliable <br>emergency medical transportation."</p>
      </div>
  
      <div class="square23">
        <div class="oval34"></div>
  <i class="fa-solid fa-capsules icon-on-oval"></i>
      
        <p class="para56"> Medicine<span> </span> </p><div class="cirlcrQualifiedDocID1">& Pharmacy <br> </div>
        <p class="emergency-section-cont">"Personalized health through comprehensive medicine, pharmacy."</p>
      </div>
  
      <div class="square23">
        <div class="oval34"></div>
       <i class="fa-solid fa-microscope icon-on-oval"></i>
     
        <p class="para56"> <span> <p class="blood-para">Blood</p></span> </p><div class="cirlcrQualifiedDocID1">Testing <br> </div>
        <p class="emergency-section-cont">"Precise blood tests for informed health decisions."</p>
      </div>
    </div>
    </section>
  

    <section class="whole-class">
      <section class="section30-1">
        <div class="appointment-card">
          <div class="left-section">
            <div class="appointment-center">
              <p  id="Appointment320"  class="Appointment320">APPOINTMENT</p>
              <p class="make-the">
                Make an Appointment<br>
                For Your Family
                </p>
                <p class="appointmnet-paragrapgh-3">
                  Prioritize your family's health by scheduling appointments at
                    <br>e-Chikitsalaya.
                    Our dedicated team is ready to provide personalized care
                    for your loved ones. <br /> <br>Make an appointment today for
                    proactive and preventive healthcare. Trust us to be your
                    partners in ensuring their well-being. <br><br />Choose
                    e-Chikitsalaya for a healthier and happier family.
                  </p>
              </div>
                      </div>
                  <div class="transparent-image">
                    <img src="/static/images/flat-national-doctor-s-day-illustration-with-female-medic_23-2149449714-removebg-preview.png" alt="doctor" width="200"/>
                  </div>
                  <div class="right-section">
                    <form class="appointment-form" action="#"  method="post"  onsubmit="showAlert()" id="appointmentForm">
                      
                     <div class="para-book-appa">
                    <p>Book An Appointment</p>
                  </div>
                      
                    <label for="patientName">Your Name:</label>
                    <input
                           type="text"
                           placeholder="Enter Your Name"
                           id="PatientName"
                           name="patientName"
                           required
                           />
                    <label for="email">Email:</label>
                   <input type="email" placeholder="Your Email Address"
                          id="email"
                          name="email"
                          required />
                    
                    <label for="phone">Phone Number:</label>
                  <input
                    type="tel"
                    placeholder="Your Phone Number"
                    id="phone"
                    name="phone"
                    required
                  />
    
                  <label for="doctor">Select Doctor:</label>
                  <select id="doctor" name="doctor" required>
                    <option value="" disabled selected>Select Doctor</option>
                    <option value="drSmith">Dr. Smith</option>
                    <option value="drJohnson">Dr. Johnson</option>
                  </select>
    
                  <label for="appointmentDate">Preferred Date:</label>
                  <input
                    type="date"
                    id="appointmentDate"
                    name="appointmentDate"
                    required
                  />
    
                  <label for="time">Preferred Time:</label>
                  <input type="time" id="time" name="time" required />
    
                     <label for="message">Additional Information:</label>
                  <textarea id="message" name="message" rows="6"></textarea>
                    <input type="submit" value="Book Appointment" />
                    </form>

                       <!-- Display success message in a new box using JavaScript -->
    <div id="success-box" class="success-box">
      {% if success_message %}
          {{ success_message }}
      {% endif %}
  </div>
                    
              </div>
            </div>
          </section>
        </section>









        <section class="pricing-navigation"> 
          <h4 id="heading-pricising-4" class="heading-pricising-4" >MEDICAL PACKAGES</h3>
          <h1 class="heading-pricising">Awesome Medical <br> Programs</h1>
          <div class="conatiner-slide">
            <div class="slide-elements">
              <div class="slide-img">
                <img class="resize-price" id="imge-reresize" src="/static/images/doctors face/cardio-2-vector.png" alt="">
                
                <div class="text-container">
                  <div class="text-line">Consultant Cardio</div>
                  <div class="text-line-2">$899/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dentist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dental </div>
                  <div class="text-line-2">$499/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              
              
              
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dermatologist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dermatologist</div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/plastic-aesthetic.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Otolaryngologist </div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
        
              <div class="slide-img">
                <img class="resize-price" id="imge-reresize" src="/static/images/doctors face/cardio-2-vector.png" alt="">
                
                <div class="text-container">
                  <div class="text-line">Consultant Cardio</div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dentist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dental </div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dermatologist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dermatologist</div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/plastic-aesthetic.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Plastic Surgery </div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" id="imge-reresize" src="/static/images/doctors face/cardio-2-vector.png" alt="">
                
                <div class="text-container">
                  <div class="text-line">Consultant Cardio</div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dentist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dental </div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dermatologist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dermatologist</div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/plastic-aesthetic.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Plastic Surgery </div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" id="imge-reresize" src="/static/images/doctors face/cardio-2-vector.png" alt="">
                
                <div class="text-container">
                  <div class="text-line">Consultant Cardio</div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dentist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dental </div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/dermatologist-doctor.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Dermatologist</div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
              <div class="slide-img">
                <img class="resize-price" src="/static/images/doctors face/plastic-aesthetic.png" alt="">
                <div class="text-container">
                  <div class="text-line">Consultant Plastic Surgery </div>
                  <div class="text-line-2">₹99/Year</div>
                </div>
                <form  action="/create-checkout-session" method="post">
                  <button  class="submit-button2" type="submit" id="checkout-session">Apply Now</button>
              </form>
              </div>
            </div>
          </div>
        
        </section>
        











        
    
<section class="full-body-slider-card" id="full-our-doctors">
 
  <section class="swiper mySwiper"> <div class="full-text-rext-qualif" id="full-text-rext-qualif-id">
    <div class="text-qualified-doc"><p class="text-OUR-DOCTORS">OUR DOCTORS</p><p class="text-Qualified-Healthcare">Qualified Healthcare <br>
      Professionals</p></div></div>
    <div class="swiper-wrapper">

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="/static/images/doctors face/doc-face-1.jpg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Dr. Manoj Bansal</span>
          <span class="card__name">Consultant Plastic Surgery</span>
          <p class="card__text">Surgical specialty involving the restoration of the human body</p>
          <a href="{{ url_for('video_call_doc_html') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Video Call
        </a>

          <a href="{{ url_for('doctor_chat') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Chat
        </a>
          
         


        </div>
      </div>

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="/static/images/doctors face//doc-face-2.jpg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Dr. G. J. Singh </span>
          <span class="card__name">Consultant Dermatologist</span>
          <p class="card__text">Diagnosis and treatment of conditions relating to the skin </p>
          <a href="{{ url_for('video_call_doc_html') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Video Call
        </a>
          <a href="{{ url_for('doctor_chat') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Chat
        </a>
        
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="/static/images/doctors face/doc-face-3.jpg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Dr. Aayush Goyal</span>
          <span class="card__name">Consultant Cardio-Vascular Surgeon</span>
          <p class="card__text">Treating cardiovascular diseases effectively</p>
          <a href="{{ url_for('video_call_doc_html') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Video Call
        </a>
          <a href="{{ url_for('doctor_chat') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Chat
        </a>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="/static/images/doctors face/doc-face-4.jpg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Dr. Anmol Agarwal</span>
          <span class="card__name">Consultant Dental </span>
          <p class="card__text"> Diagnoses and treats oral health conditions</p>
          <a href="{{ url_for('video_call_doc_html') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Video Call
        </a>
          <a href="{{ url_for('doctor_chat') }}" class="card__btn-2" style="text-decoration: none; color: white;">
            Chat
        </a>
        </div>
      </div>

    </div>
  </section>
</section>
<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>



        
  <section class="bottomNav"><section class="till-design">
    <div  id="get-in-touch-id" class="full-get-in-touch">
    <div class="social-get-in-touch">
      <p>GET IN TOUCH</p>
    </div>
    <div class="para-touch"><p>
"Connect with us for compassionate healthcare. Our team is dedicated to providing quality medical services, ensuring your well-being. Feel free to reach out, and let us be your partners in health."</p></div>
    <div>
      
      <p >   <i class="fa-solid fa-location-dot" style="color: #18c4dc;"></i> <a class="location-text"  rel="noopener" href="https://maps.app.goo.gl/ZGNAMcCsPzR4t8jp9" target="_blank">GL Bajaj Institute of Technology & Management <br> Plot No. 2, APJ Abdul Kalam Rd, Knowledge Park III, Greater Noida, Uttar Pradesh 201306</a> </p>
      <p><i class="fa-solid fa-envelope" style="color: #18c4dc;"></i>   <a class="location-text" target="_blank" href="mailto:e-chikitsalaya808@gov.in.ac" class="mail-outline">e-chikitsalaya808@gov.in.ac</a></p>
      <p><i class="fa-solid fa-phone" style="color: #18c4dc;"></i><a class="location-text" target="_blank" href="tel: +0992002020" class="call2-outline"> +09920 02020</a></p>

      </div>
      </div>
    <div class="full-popular-links">
    
    <p class="popular-link-head">POPULAR LINKS</p>
    
    <div class="arrowed">
      <ul class="popular_links">
        <li>   <a class="active" href="#img-icon-top-nav">Home</a> </li><br>
        <li><a href="#about-letsgo"> About Us</a></li><br>
        <li>     <a href="#servies-go">Our Services</a></li><br>
        <!-- <li> <a href="/templates/dev-team-detail.html" target="_blank"> Meet the Dev Team</a></li><br> -->
        <li><a href="{{ url_for('dev_team_detail') }}" target="_blank">Meet the Dev Team</a></li><br>

        <li> <a href="#heading-pricising-4">Pricing</a></li><br>
        <li>  <a href="#full-text-rext-qualif-id">Our Doctors</a></li><br>
      </ul>
    </div>
        </div>
    <div class="full-news-letter">
    <div class="bottom-right">
      <p class="news-letter-heading">NEWSLETTER</p>
      <!-- <hr size="1" width="100%" color="white" /> -->
      
                      
      <form class="newsletter" method="POST" action="{{ url_for('newsletter') }}" onsubmit="showAlert1()">
        <label for="email-news-letter">Your Email Address</label>
        <input
            type="email"
            placeholder="Your Email Address"
            id="emailletter"
            name="email_newsletter"
            required
        />
        <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </form>
    



    </div>
    
   
      <p class="follow-us-head">Follow Us</p> <div class="icons">
      <a href="https://www.twitter.com" rel="noopener" target="_blank" title="Twitter Logo" class="twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a href="https://www.facebook.com" rel="noopener" target="_blank" title="FaceBook Logo" class="face">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.instagram.com" rel="noopener" target="_blank" title="instagram logo" class="insta">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://www.linkedin.com" rel="noopener" target="_blank" title="Linkedin logo" class="linkedin">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </div>
        </div>
        <div class="image12-women-with-doc"><img src="/static/images/women-with-doc.png" alt="Women With Doctor" width="300" height="200" />
 </div>
        </section>
    <hr size="1" width="100%" color="black" />
    
    <center><p>© E-Chikitsalya. All Rights Reserved.</p></center>
    <center><p>Designed With ❤️ by GAGAN CHAUHAN </p><br></center>
  </section>
  
    


  
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <div id="myBtnText">↑</div>
    </button>
    <a href="{{ url_for('chatbot_page') }}">
      <div class="chatbot-icon">
          <img src="/static/images/chatbotyelo.jpg" alt="Chatbot Icon">
      </div>
  </a>
    <script>
      // Get the button
      let mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 200 ||
          document.documentElement.scrollTop > 200
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>

   
<script>
  // Attach a click event listener to the logo image
  document.getElementById('img-icon-top-nav').addEventListener('click', function() {
    // Reload the page when the logo is clicked
    location.reload();
  });
</script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    
    <!-- Bootstrap Script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/b22558d219.js" crossorigin="anonymous"></script>


    <script>
      // JavaScript to show and hide the success message box
    //   document.addEventListener("DOMContentLoaded", function () {
    //       var successBox = document.getElementById('success-box');
    //       if (successBox.textContent.trim() !== "") {
    //           successBox.style.display = 'block';
    //           setTimeout(function() {
    //               successBox.style.display = 'none';
    //           }, 3000);  // Hide the success box after 3 seconds
    //       }
    //   });
    
    function showAlert() {
        alert("Your upcoming appointment with the doctor has been successfully scheduled, and we look forward to supporting your journey to optimal health!!!"); // Display the alert box
    }
    function showAlert1() {
        alert("Thank you for subscribing to our newsletter; stay informed about the latest medical advancements, health tips, and upcoming events to embark on a journey towards holistic well-being with us."); // Display the alert box
    }
</script>
    

    

  </body>
</html>
